svg {
    background: rgb(225, 230, 235);
}

polygon {
    fill: none;
    stroke: rgba(255, 255, 255, 0.4);
    stroke-width: 1px;
    stroke-linejoin: round;
}

.light {
    fill: rgb(245, 250, 255); /*cool*/
    fill: rgb(250, 245, 195); /*warm*/
    mix-blend-mode: soft-light;
}

.dark {
    fill: rgb(40, 80, 140);
    mix-blend-mode: hard-light;
}

.color1 { fill: rgba(255, 95, 135, 0.9); } /*magenta*/
.color1 { fill: rgba(70, 178, 214, 0.9); } /*cyan*/

.color2 { fill: rgba(230, 75, 65, 0.9); } /*red*/
.color2 { fill: rgba(237, 118, 31, 0.9); } /*orange*/
.color2 { fill: rgba(237, 148, 41, 0.9); } /*amber*/
.color2 { fill: rgba(100, 194, 46, 0.9); } /*green*/

.slider line {
    stroke: rgba(0, 0, 0, 0.3);
    stroke-width: 2px;
    stroke-linecap: round;
}

.slider .thumb { opacity: 0; }
.slider .thumb:hover { opacity: 0.05; }
.slider.active .thumb { opacity: 0.1; }
