:root {
    --surface: rgb(225, 230, 235);
    --primary: rgb(40, 40, 40);

    --magenta: rgb(255, 95, 135);
    --cyan: rgb(70, 178, 214);
    --red: rgb(230, 75, 65);
    --orange: rgb(237, 118, 31);
    --amber: rgb(237, 148, 41);
    --green: rgb(100, 194, 46);

    --warm-light: rgb(250, 245, 195);
    --cool-light: rgb(245, 250, 255);
}

/* layout */

html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: var(--surface);
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* svg */

svg {
    background: var(--surface);
}

.face {
    stroke: rgba(255, 255, 255, 0.5);
    stroke-width: 1px;
    stroke-linejoin: round;
    opacity: 0.9;
}
.face.a {
    fill: var(--cyan);
}
.face.b {
    fill: var(--green);
}

.light {
    fill: none;
    fill: var(--warm-light);
    mix-blend-mode: soft-light;
}
.dark {
    fill: none;
    fill: rgb(40, 80, 140);
    mix-blend-mode: hard-light;
}

.slider {
    fill: var(--primary);
}

.slider line {
    stroke: var(--primary);
    stroke-width: 2px;
    stroke-linecap: round;
    opacity: 0.3;
}

.slider .thumb-toucharea {
    opacity: 0;
}
.slider .thumb-toucharea:hover {
    opacity: 0.05;
}
.slider.active .thumb-toucharea {
    opacity: 0.1;
}
